.footer {
  background-color: #003585;

  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-between;
}
.footer div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.footer p {
  color: white;
  align-self: flex-end;
}
