* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #003585;
}
.image {
  margin-right: 70px;
}
header .header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header-bottom {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin-top: 150px;
}
.header-bottom h1 {
  color: white;
  font-size: 50px;
}
.header-bottom p {
  color: white;
  font-size: 50px;
}
.header-bottom .shop {
  background-color: white;
  color: #003585;
  border-radius: 25px;
  border: 1px solid #003585;
  font-size: 16px;
  line-height: 24px;
  padding: 10px 25px;
}
.header-bottom .view {
  border-radius: 25px;
  background-color: #003585;
  color: #a7f65c;
  border: 1px solid #a7f65c;
  font-size: 16px;
  line-height: 24px;
  padding: 10px 25px;
  margin-left: 40px;
}
.d-flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.bag {
  display: flex;
  gap: 10px;
}
.input-btn {
  width: 747px;
}
.input-btn input {
  border-radius: 25px 0 0 25px;
  height: 40px;
  width: 80%;
}
.input-btn button {
  border-radius: 0 25px 25px 0;
  height: 40px;
  width: 15%;
  background-color: #003585;
  color: white;
}
.shop-view {
  margin-top: 70px;
}
